@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a asp-controller="PayrollInvoice" asp-action="List" asp-route-storeId="@storeId" class="nav-link @ViewData.IsActivePage("Payroll")"
           permission="@Policies.CanModifyStoreSettings">

            <svg width="19" height="19" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" style="margin-right: 7px;">
                <path d="M19.42 12.71H16C15.59 12.71 15.25 12.37 15.25 11.96V4.96996C15.25 4.22996 15.54 3.53996 16.06 3.01996C16.58 2.49996 17.27 2.20996 18.01 2.20996H18.02C19.27 2.21996 20.45 2.70996 21.35 3.59996C22.25 4.50996 22.74 5.70996 22.74 6.95996V9.37996C22.75 11.37 21.41 12.71 19.42 12.71ZM16.75 11.21H19.42C20.58 11.21 21.25 10.54 21.25 9.37996V6.95996C21.25 6.09996 20.91 5.27996 20.3 4.65996C19.69 4.05996 18.87 3.71996 18.02 3.70996C18.02 3.70996 18.02 3.70996 18.01 3.70996C17.68 3.70996 17.36 3.83996 17.12 4.07996C16.88 4.31996 16.75 4.62996 16.75 4.96996V11.21Z" fill="currentColor" />
                <path d="M9 24.29C8.53 24.29 8.09 24.11 7.76 23.77L6.1 22.1C6.01 22.01 5.87 22 5.77 22.08L4.05 23.36C3.52 23.76 2.82 23.83 2.22 23.53C1.62 23.23 1.25 22.63 1.25 21.96V6.95996C1.25 3.93996 2.98 2.20996 6 2.20996H18C18.41 2.20996 18.75 2.54996 18.75 2.95996C18.75 3.36996 18.41 3.70996 18 3.70996C17.31 3.70996 16.75 4.26996 16.75 4.95996V21.96C16.75 22.63 16.38 23.23 15.78 23.53C15.18 23.83 14.48 23.77 13.95 23.37L12.24 22.09C12.14 22.01 12 22.03 11.92 22.11L10.24 23.79C9.91 24.11 9.47 24.29 9 24.29ZM5.91 20.53C6.37 20.53 6.82 20.7 7.16 21.05L8.82 22.72C8.88 22.78 8.96 22.79 9 22.79C9.04 22.79 9.12 22.78 9.18 22.72L10.86 21.04C11.48 20.42 12.46 20.36 13.15 20.89L14.85 22.16C14.96 22.24 15.06 22.21 15.11 22.18C15.16 22.15 15.25 22.09 15.25 21.96V4.95996C15.25 4.50996 15.36 4.07996 15.55 3.70996H6C3.78 3.70996 2.75 4.73996 2.75 6.95996V21.96C2.75 22.1 2.84 22.16 2.89 22.19C2.95 22.22 3.05 22.24 3.15 22.16L4.86 20.88C5.17 20.65 5.54 20.53 5.91 20.53Z" fill="currentColor" />
                <path d="M12 14.7197H9C8.59 14.7197 8.25 14.3797 8.25 13.9697C8.25 13.5597 8.59 13.2197 9 13.2197H12C12.41 13.2197 12.75 13.5597 12.75 13.9697C12.75 14.3797 12.41 14.7197 12 14.7197Z" fill="currentColor" />
                <path d="M12 10.7197H9C8.59 10.7197 8.25 10.3797 8.25 9.96973C8.25 9.55973 8.59 9.21973 9 9.21973H12C12.41 9.21973 12.75 9.55973 12.75 9.96973C12.75 10.3797 12.41 10.7197 12 10.7197Z" fill="currentColor" />
                <path d="M5.96875 10.9697C5.41875 10.9697 4.96875 10.5197 4.96875 9.96973C4.96875 9.41973 5.41875 8.96973 5.96875 8.96973C6.51875 8.96973 6.96875 9.41973 6.96875 9.96973C6.96875 10.5197 6.51875 10.9697 5.96875 10.9697Z" fill="currentColor" />
                <path d="M5.96875 14.9697C5.41875 14.9697 4.96875 14.5197 4.96875 13.9697C4.96875 13.4197 5.41875 12.9697 5.96875 12.9697C6.51875 12.9697 6.96875 13.4197 6.96875 13.9697C6.96875 14.5197 6.51875 14.9697 5.96875 14.9697Z" fill="#292D32" />
            </svg>

            
            <span>Payroll</span>
        </a>
    </li>
}
