@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Models
@using BTCPayServer.Client
@using BTCPayServer.RockstarDev.Plugins.Payroll.Data.Models
@using BTCPayServer.Services
@using static BTCPayServer.RockstarDev.Plugins.Payroll.Controllers.PayrollUserController
@inject IScopeProvider ScopeProvider
@inject DisplayFormatter DisplayFormatter
@model PayrollUserResetPasswordViewModel
@{
    ViewData.SetActivePage("Payroll", "Reset Payroll User's Password", "Payroll");
}

<form method="post" asp-action="ResetPassword">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <input type="submit" value="Reset Password" class="btn btn-primary" id="ResetPassword" />
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>