@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Blazor.VaultBridge
@using BTCPayServer.RockstarDev.Plugins.XpubExtractor.Controllers

@{
    Layout = "Views/UIStores/_LayoutWalletSetup";
    ViewData.SetActivePage("XpubExtractor", "Xpub Extractor", "XpubExtractor");
    this.ViewData.SetBlazorAllowed(true);
}

@section Navbar {
    <a asp-controller="UIHome" asp-action="Index">
        <vc:icon symbol="back" />
    </a>
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p class="lead text-secondary mt-3">
        In order to securely connect to your hardware wallet you must first download, install,
        and run the <a href="https://github.com/btcpayserver/BTCPayServer.Vault/releases">BTCPay Server Vault</a>.
    </p>
</header>

<div class="row mt-5 mb-4">
    <div class="col-md-8 mx-auto">
        <component type="typeof(VaultBridgeUI)"
                   param-Controller=@(new ExtractorBridgeController()
                   {
                       CryptoCode = "BTC"
                   })
                   render-mode="Server"/>
    </div>
</div>

@section PageFootContent {
    <script src="~/js/vaultbridge.js" asp-append-version="true"></script>
}
