@using BTCPayServer.Abstractions.Extensions
@model CurrencyExchangesCreateViewModel
@{
    ViewData.SetActivePage(RockstarStrikeUtilsPlugin.PluginNavKey, "Confirm Currency Exchange", "CurrencyExchanges");
}

<form method="post">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <input type="submit" value="Create" class="btn btn-primary" id="Create" />
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Sell" class="form-label"></label>
                <select asp-for="Sell" class="form-control">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="BTC">BTC</option>
                </select>
                <span asp-validation-for="Sell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellAmount" class="form-label"></label>
                <input asp-for="SellAmount" class="form-control" />
                <span asp-validation-for="SellAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buy" class="form-label"></label>
                <select asp-for="Buy" class="form-control">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="BTC">BTC</option>
                </select>
                <span asp-validation-for="Buy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyAmount" class="form-label"></label>
                <input asp-for="BuyAmount" class="form-control" />
                <span asp-validation-for="BuyAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate" class="form-label"></label>
                <input asp-for="ExchangeRate" class="form-control" />
                <span asp-validation-for="ExchangeRate" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>