@using BTCPayServer.Abstractions.Extensions
@model DepositsCreateViewModel
@{
    ViewData.SetActivePage(RockstarStrikeUtilsPlugin.PluginStrikeNavKey, "Create Deposit", "Deposits");
}

<form method="post">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <input type="submit" value="Create" class="btn btn-primary" id="Create" />
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="form-group">
            <label asp-for="StrikePaymentMethodId" class="form-label"></label>
            <input asp-for="StrikePaymentMethodId" class="form-control" />
            <span asp-validation-for="StrikePaymentMethodId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FeePolicy" class="form-label"></label>
            <select asp-for="FeePolicy" class="form-control">
                <option value="Exclusive">Exclusive</option>
                <option value="Inclusive">Inclusive</option>
            </select>
            <span asp-validation-for="FeePolicy" class="text-danger"></span>
        </div>
    </div>
</form>