@using BTCPayServer.Abstractions.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ReceiveRequestsViewModel
@{
    ViewData.SetActivePage(RockstarStrikeUtilsPlugin.PluginNavKey, "Receive Requests", "ReceiveRequests");
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        Foo
    </div>
</div>
