@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a asp-controller="XpubExtractor" asp-action="Index" asp-route-storeId="@storeId" class="nav-link @ViewData.ActivePageClass("XpubExtractor")">

            <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; margin-right: 6px;" viewBox="0 0 512 512" fill="currentColor">
                <path d="M477.87 98.272L381.925 2.328c-3.106-3.104-8.139-3.104-11.244 0l-19.489 19.489c-3.105 3.106-3.105 8.139 0 11.244l11.886 11.885-12.245 53.686-106.135 106.135-19.114-19.114c-15.499-15.497-40.716-15.498-56.217 0l-69.026 69.026a23.84 23.84 0 0 0-6.576 21.261l14.439 77.009a23.7 23.7 0 0 0 19.047 19.046l77.008 14.44c7.676 1.436 15.74-1.057 21.261-6.578l69.026-69.027c15.498-15.499 15.498-40.717 0-56.216L275.432 235.5l58.275-58.275c3.105-3.106 3.105-8.139 0-11.244s-8.139-3.104-11.244 0L199.349 289.093c-2.274 2.274-5.971 2.274-8.244 0s-2.274-5.972 0-8.244l166.46-166.461 8.245 8.245-19.621 19.62c-3.105 3.106-3.105 8.139 0 11.244s8.139 3.104 11.244 0l24.133-24.133 53.686-12.245 11.885 11.885c3.064 3.063 8.18 3.063 11.244 0l19.489-19.489a7.95 7.95 0 0 0 0-11.243zM179.859 269.606c-8.472 8.473-8.472 22.26 0 30.733 4.237 4.236 9.801 6.354 15.366 6.354s11.129-2.118 15.366-6.354l53.594-53.594 19.114 19.114c9.299 9.298 9.299 24.43 0 33.728l-69.026 69.026c-1.856 1.858-4.505 2.676-7.087 2.193l-77.008-14.439c-3.248-.61-5.74-3.102-6.35-6.349L109.39 273.01a7.95 7.95 0 0 1 2.194-7.086l69.025-69.026c9.302-9.3 24.434-9.298 33.729 0l19.114 19.114-53.593 53.594zm199.39-156.023l-12.634-12.634 9.744-42.724 45.614 45.614-42.724 9.744zm73.512-1.444L368.06 27.438l8.245-8.245 84.701 84.701-8.245 8.245zm11.958 293.588c-2.783-3.395-7.793-3.889-11.189-1.109s-3.891 7.793-1.108 11.19c18.645 22.746 29.75 50.992 31.703 80.292H201.736c4.856-73.573 66.585-132.152 141.196-132.152 29.738 0 58.192 9.12 82.285 26.372a7.95 7.95 0 1 0 9.257-12.927c-26.807-19.197-58.462-29.345-91.541-29.345-41.788 0-81.142 16.202-110.815 45.62-4.506 4.468-8.705 9.164-12.595 14.058-13.555-6.07-28.013-9.149-43.016-9.149-35.42 0-66.819 17.551-85.956 44.413a63.18 63.18 0 0 0-15.809-2.011c-34.779 0-63.072 28.294-63.072 63.072a7.95 7.95 0 0 0 7.95 7.95h472.76c4.357 0 7.991-3.667 7.95-8.023-.332-35.749-12.977-70.642-35.611-98.251zM71.33 496.099H28.24c3.79-22.24 23.2-39.221 46.502-39.221 2.416 0 4.813.182 7.175.543-5.85 11.819-9.553 24.881-10.587 38.678zm15.975 0c4.04-45.679 42.492-81.623 89.201-81.623 11.657 0 22.919 2.187 33.557 6.497-14.315 22.424-22.686 48.132-24.262 75.126H87.305z"/>
            </svg>

            <span>Xpub Extractor</span>
        </a>
    </li>
}
