@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@inject CashStatusProvider CashStatusProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(storeId))
{
    var isEnabled = await CashStatusProvider.CashEnabled(storeId);
    var isActive = Context.Request.Path.Value?.Contains("/cash?") == true;
    
    <li class="nav-item">
        <a class="nav-link @(isActive ? "active" : "")"
           asp-route-paymentMethodId="CASH"
           asp-route-storeId="@storeId"
           asp-action="StoreConfig"
           asp-controller="Cash">
            <span class="me-2 btcpay-status btcpay-status--@(isEnabled ? "enabled" : "pending")"></span>
            <span>Cash</span>
        </a>
    </li>
}