@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Data
@using BTCPayServer.RockstarDev.Plugins.TransactionCounter
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@{
	var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a class="nav-link @ViewData.ActivePageClass(PluginNavPages.Counter)"
		   asp-action="CounterConfig"
           asp-controller="TransactionCounter">
            <span class="me-2"></span>
            <span>Transaction Counter</span>
        </a>
    </li>
}
