@using BTCPayServer.Abstractions.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfigurationViewModel
@{
    ViewData.SetActivePage(StripePlugin.PluginNavKey, "Stripe Api Key Configuration", "Configuration");
}

<form method="post">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2>@ViewData["Title"]</h2>
        <button type="submit" class="btn btn-primary" id="Submit" value="Submit">Submit</button>
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="form-group">
                <label asp-for="StripeApiKey" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="StripeApiKey" class="form-control" type="password" id="StripeApiKey" value="@Model.StripeApiKey" />
                    <button type="button" class="btn btn-secondary px-3 only-for-js" data-toggle-password="#StripeApiKey">
                        <vc:icon symbol="actions-show" />
                    </button>
                </div>
                <span asp-validation-for="StripeApiKey" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
