@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using BTCPayServer.RockstarDev.Plugins.WalletSweeper.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@inject IScopeProvider ScopeProvider
@inject PluginDbContextFactory DbContextFactory
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    int configCount = 0;
    
    if (!string.IsNullOrEmpty(storeId))
    {
        try
        {
            await using var db = DbContextFactory.CreateContext();
            configCount = await db.SweepConfigurations
                .Where(c => c.StoreId == storeId)
                .CountAsync();
        }
        catch
        {
            // Ignore errors (e.g., during migrations)
        }
    }
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a permission="@Policies.CanModifyStoreSettings"
           asp-controller="WalletSweeper" asp-action="Index" asp-route-storeId="@storeId"
           class="nav-link @ViewData.ActivePageClass("WalletSweeper")">

            <svg class="icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <style>
                        .cls-1 {
                            fill: currentColor;
                        }
                    </style>
                </defs>
                <title>wallet-sweeper</title>
                <path class="cls-1" d="M21 18v1c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2V5c0-1.1.89-2 2-2h14c1.1 0 2 .9 2 2v1h-9c-1.11 0-2 .9-2 2v8c0 1.1.89 2 2 2h9zm-9-2h10V8H12v8zm4-2.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
                <path class="cls-1" d="M2 20l4-4m0 0l4 4m-4-4V4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
            </svg>

            <span>Wallet Sweeper</span>
            @if (configCount > 0)
            {
                <span class="badge bg-info ms-1">@configCount</span>
            }
        </a>
    </li>
}
