@using BTCPayServer.RockstarDev.Plugins.Subscriptions.Data.Models
@model BTCPayServer.RockstarDev.Plugins.Subscriptions.Data.Models.Subscription
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    ViewData["Title"] = "Edit Subscription";
}

<form method="post">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2>@ViewData["Title"]</h2>
        <button type="submit" class="btn btn-primary" name="command" value="Save">Save Changes</button>
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label>Customer</label>
                <select asp-for="CustomerId" asp-items="@(new SelectList(ViewBag.Customers, "Id", "Name"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label>Product</label>
                <select asp-for="ProductId" asp-items="@(new SelectList(ViewBag.Products, "Id", "Name"))"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Expires"></label>
                <input asp-for="Expires" class="form-control" type="date" required />
            </div>

            <div class="form-group">
                <label asp-for="State"></label>
                <select asp-for="State"
                        asp-items="Html.GetEnumSelectList<SubscriptionStates>()"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="PaymentRequestId"></label>
                <input asp-for="PaymentRequestId" class="form-control" placeholder="Optional Payment Request ID" />
            </div>

        </div>
    </div>
</form>
