@model BTCPayServer.RockstarDev.Plugins.Subscriptions.Data.Models.Customer
@{
    ViewData["Title"] = "Create Customer";
}

<h2>Create Customer</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="email" required/>
    </div>

    <div class="form-group">
        <label asp-for="Address1"></label>
        <input asp-for="Address1" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="Address2"></label>
        <input asp-for="Address2" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="ZipCode"></label>
        <input asp-for="ZipCode" class="form-control" required/>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
