@model BTCPayServer.RockstarDev.Plugins.MarkPaidCheckout.Controllers.MarkPaidStoreController.MethodConfigVm
@{
    ViewData["Title"] = $"MarkPaid – {Model.Method}";
}

<form method="post" asp-action="MethodConfig" asp-route-method="@Model.Method">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2>@ViewData["Title"]</h2>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="form-group my-4">
                <div class="d-flex align-items-center">
                    <input asp-for="Enabled" type="checkbox" id="Enabled" class="btcpay-toggle me-3">
                    <label class="form-check-label" for="Enabled">Enabled</label>
                </div>
                <div class="form-text">Enable or disable the @Model.Method MarkPaid method for this store.</div>
            </div>
        </div>
    </div>
    
</form>
