@model BTCPayServer.RockstarDev.Plugins.MarkPaidCheckout.Controllers.MarkPaidStoreController.StoreConfigVm
@{
    ViewData["Title"] = "MarkPaid – Store Methods";
}

<form method="post">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2>@ViewData["Title"]</h2>
        <button type="submit" class="btn btn-primary" id="Submit" value="Submit">Save</button>
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-xl-8 col-xxl-constrain">
            @for (var i = 0; i < Model.Methods.Count; i++)
            {
                <div class="form-group my-3 d-flex align-items-center">
                    <input asp-for="Methods[i].Enabled" type="checkbox" class="btcpay-toggle me-3" />
                    <label class="form-check-label">@Model.Methods[i].Method</label>
                    <input type="hidden" asp-for="Methods[i].Method" />
                </div>
            }
        </div>
    </div>
</form>
