@using BTCPayServer.Abstractions.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SettingsViewModel
@{
    ViewData.SetActivePage(BitcoinStackerPlugin.PluginNavKey, "Settings Exchange Order", "ExchangeOrdersSettings");
}

<form method="post">
    <div class="sticky-header d-flex align-items-center justify-content-between">
        <h2>@ViewData["Title"]</h2>
        <button type="submit" class="btn btn-primary" id="Update" value="Update">Update</button>
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="form-group">
                <input asp-for="AutoEnabled" type="checkbox" class="btcpay-toggle me-3" />
                <label asp-for="AutoEnabled" class="form-check-label"></label>
            </div>

            <div class="form-group">
                <label asp-for="DelayOrderDays" class="form-label"></label>
                <input asp-for="DelayOrderDays" type="number" step="1" class="form-control" />
                <span asp-validation-for="DelayOrderDays" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PercentageOfPayouts" class="form-label"></label>
                <input asp-for="PercentageOfPayouts" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="PercentageOfPayouts" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDateExchangeOrders" class="form-label"></label>
                <input asp-for="StartDateExchangeOrders" class="form-control flatdtpicker" type="datetime-local"
                       data-fdtp='{ "enableTime": true, "enableSeconds": true, "dateFormat": "Y-m-d H:i:S", "time_24hr": true, "defaultHour": 0 }'
                       placeholder="Start Date Exchange Orders" />
                <span asp-validation-for="StartDateExchangeOrders" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StrikeApiKey" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="StrikeApiKey" class="form-control" type="password" id="StrikeApiKey"
                           value="@Model.StrikeApiKey" />
                    <button type="button" class="btn btn-secondary px-3 only-for-js"
                            data-toggle-password="#StrikeApiKey">
                        <vc:icon symbol="actions-show" />
                    </button>
                </div>
                <span asp-validation-for="StrikeApiKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StrikePaymentMethodId" class="form-label"></label>
                <input asp-for="StrikePaymentMethodId" class="form-control" />
                <span asp-validation-for="StrikePaymentMethodId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StripeApiKey" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="StripeApiKey" class="form-control" type="password" id="StripeApiKey"
                           value="@Model.StripeApiKey" />
                    <button type="button" class="btn btn-secondary px-3 only-for-js"
                            data-toggle-password="#StripeApiKey">
                        <vc:icon symbol="actions-show" />
                    </button>
                </div>
                <span asp-validation-for="StripeApiKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinutesHeartbeatInterval" class="form-label"></label>
                <input asp-for="MinutesHeartbeatInterval" type="number" step="1" class="form-control" />
                <span asp-validation-for="MinutesHeartbeatInterval" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
