@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.RockstarDev.Plugins.Vouchers.ViewModel
@using BTCPayServer.Services
@using BTCPayServer.Abstractions.Contracts
@inject IScopeProvider ScopeProvider
@model VoucherSettingsViewModel
@{
	Layout = "_Layout";
	ViewData.SetActivePage("Voucher", "Voucher Settings", "Voucher");
    var storeId = ScopeProvider.GetCurrentStoreId();
}

<div class="sticky-header">
    <h2 text-translate="true">@ViewData["Title"]</h2>
	<div class="d-flex gap-3 mt-3 mt-sm-0">
		<a asp-action="ListVouchers" asp-controller="Voucher" asp-route-storeId="@storeId" class="btn btn-secondary">Go Back</a>
		<button type="submit" form="voucher-settings-form" class="btn btn-success">Save Changes</button>
    </div>
</div>
<partial name="_StatusMessage" />

<form id="voucher-settings-form" class="mt-4" asp-action="VoucherSettings" asp-controller="Voucher" asp-route-storeId="@storeId" method="post">
	<div class="mb-4">
		<h5 class="mb-3">Voucher Display Mode</h5>

		<div class="form-check mb-2">
			<input class="form-check-input" type="radio" asp-for="FunModeEnabled" value="false" id="StandardMode" />
			<label class="form-check-label" for="StandardMode">Standard mode</label>
		</div>

		<div class="form-check mb-3">
			<input class="form-check-input" type="radio" asp-for="FunModeEnabled" value="true" id="FunMode" />
			<label class="form-check-label" for="FunMode">Fun mode</label>
		</div>

		<div id="funModeDropdown" class="mb-3" style="display:none;">
			<label for="SelectedVoucher" class="form-label">Select Voucher Image</label>
			<div class="col-3">
				<select class="form-select" asp-for="SelectedVoucherImage" asp-items="@(new SelectList(Model.VoucherOptions))">
				</select>
			</div>
		</div>
	</div>
</form>

@section PageFootContent {
	<script>
		function toggleFunModeDropdown() {
			const funModeEnabled = document.getElementById('FunMode').checked;
			document.getElementById('funModeDropdown').style.display = funModeEnabled ? 'block' : 'none';
		}
		document.getElementById('FunMode').addEventListener('change', toggleFunModeDropdown);
		document.getElementById('StandardMode').addEventListener('change', toggleFunModeDropdown);
		toggleFunModeDropdown();
	</script>
}

